name: release
on:
  push:
    tags:
      - 'v*'

env:
  CARGO_TERM_COLOR: always
jobs:
  publish-crate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable

      - name: Publish Crate
        env:
          crates_token: ${{ secrets.crates_token }}
        run: cargo publish --locked --token ${crates_token} --verbose
  
  build-linux-targets:
    name: Build targets
    uses: ./.github/workflows/_build_linux_target.yml
    strategy:
      matrix:
       target: [x86_64-unknown-linux-gnu, aarch64-unknown-linux-gnu, aarch64-unknown-linux-musl, x86_64-unknown-linux-musl]
    with:
      target: ${{ matrix.target }}
      channel: stable
  
  build-macos-targets:
    name: Build targets
    uses: ./.github/workflows/_build_macos_target.yml
    strategy:
      matrix:
        target: [x86_64-apple-darwin, aarch64-apple-darwin]
    with:
      target: ${{ matrix.target }}
      channel: stable
    

  create-release:
    needs: [build-linux-targets, build-macos-targets, publish-crate]
    runs-on: ubuntu-latest
    steps:
      - name: Download Artifacts
        uses: actions/download-artifact@v4
        with:
          path:  ${{ github.workspace }}/builds/

      - uses: marvinpinto/action-automatic-releases@latest
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          prerelease: false
          draft: false
          files: |
            ${{ github.workspace }}/builds/*